---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Sofiane, a junior developer from Brussels.
      <br />
       My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>JAVA</li>
        <li>Python</li>
        <li>HTML / CSS / JS</li>
        <li>React</li>
        <li>Next</li>
        <li>SQL</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      I am currently seeking my first professional experience in the field of software development. 
      My passion for programming has guided me from my earliest steps into the world of IT.
    </p>
    
    <p class="text-sm font-light">
    I am confident that my enthusiasm, passion for programming, and desire for personal growth would be a valuable asset to your company.
    </p>
  </div>
</Card>
